@charset "UTF-8";

@media screen and (max-width: 600px) {

    html {
        
    }
    body {
        background-image: url('../imagens/ballebot-mobile.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    header {
        display: block;
    }

    header img {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    nav > ul {
        display: block;
        text-align: center;
        /* background-color: red; */
    }

    nav > ul > a > li {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        background-color: #CC8373;
        border-radius: 0;
        border-top: 2px solid #231C1C;
    }

    li.comandos {
        border-bottom: 2px solid #231C1C;
    }

    nav > ul > a > li:hover {
        color: #CC8373;
        background-color: #EED8C5;
        outline: none;
    }
    
    section#area-principal {
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    section#area-secundaria ol {
        text-align: left;
        line-height: normal;
        list-style-position: inside;
    }
    
    section#area-secundaria li {
        padding-bottom: 16px;
    }

    section#area-principal, section#area-secundaria {
        
    }

    div.imagem {
        display: none;
    }
}